//  import default settings
@import './default/default';

// import components
@import './components/header';
@import './components/hamburger';
@import './components/sidebar-menu';
@import './components/home';
@import './components/footer';
@import './components/buttons';
@import './components/projects';
@import './components/blog';
@import './components/contact';
@import './components/aboutme';
@import './components/oath'; // all blog posts inherit styling from this conmonent stylesheet

// base styling for all pages 
//  Deals with the overall structure of how the page (structure) renders

body {
  background-color: $prussian-blue;
  min-height: 100%;
  font-family: "Rubik", Roboto;
  display: flex;
  flex-direction: column;
  line-height: 1.3em;
  
  header {
    padding-top: 10px;
    padding-bottom: 50px;
  }

  main {
    min-height: 75vh;
  }

  footer {
    height: 10vh;
    width: 100vw;
  }
}

// inspiration found at:
// http://findmatthew.com/
// https://brittanychiang.com/

