* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* hide scrollbar but allow scrolling */
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.header-shell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
}

.desktop-menu {
  visibility: hidden;
  position: absolute;
}

.image-box {
  margin-left: 10px;
}
.image-box #mike-logo {
  width: 50px;
}

@media screen and (min-width: 500px) {
  .image-box {
    width: 75px;
    transition: 0.3s ease;
  }
  .image-box #mike-logo {
    width: 70px;
  }
}
@media screen and (min-width: 1000px) {
  .image-box {
    width: 75px;
    transition: 0.3s ease;
  }
  .image-box #mike-logo {
    width: 90px;
  }
  #hamburger-menu {
    visibility: hidden;
    padding: 0;
    margin: 0;
  }
  .menu-shell {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .image-box #logo-svg {
    transition: 0.3s ease;
    width: 100px;
  }
  .desktop-menu {
    visibility: visible;
    position: relative;
    right: 0;
    display: flex;
    align-items: flex-end;
  }
  li {
    display: inline-block;
    padding: 0px 36px;
  }
  a {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease 0.3s;
    color: #64FFDA;
  }
  a:hover {
    color: whitesmoke;
  }
}
#hamburger-menu {
  margin-right: 20px;
  background-color: #212f45;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  border: none;
  align-self: right;
}
#hamburger-menu svg {
  width: 40px;
  height: 40px;
}
#hamburger-menu svg line {
  stroke: #64FFDA;
}

@media screen and (min-width: 500px) {
  #hamburger-menu svg {
    width: 45px;
    height: 45px;
  }
  #hamburger-menu svg line {
    stroke: #64FFDA;
  }
}
#button-check {
  visibility: hidden;
  position: absolute;
}

.menu {
  color: white;
  visibility: hidden;
  position: fixed;
  top: 0;
  height: 100vh;
  margin: 0;
  padding: 0px 20px;
  background-color: #065a60;
  opacity: 98%;
  width: 180px;
}
.menu input[type=checkbox] {
  visibility: hidden;
}
.menu a {
  text-decoration: none;
  color: darkgray;
}
.menu li {
  list-style-type: none;
  padding-top: 18px;
  font-size: 20px;
}
.menu i {
  color: #64FFDA;
  font-size: 50px;
}

input[type=checkbox]:checked ~ .sidebar-menu .menu {
  visibility: visible;
  right: 0;
}

.green-text-bg-none {
  font-size: 14px;
  font-weight: 300;
  border-radius: 12px;
  background: none;
  border-color: #64FFDA;
  border-width: 1px;
  color: #64FFDA;
  padding: 15px 20px;
  letter-spacing: 0.1em;
}

main h1 {
  font-size: 36px;
  font-weight: bolder;
  color: whitesmoke;
  margin: 0;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 20px;
  padding-bottom: 20px;
}
.intro-container p {
  color: #64FFDA;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.intro-container #name-headline {
  margin: 5px 0 0 -2px;
  margin-top: 15px;
  font-weight: bolder;
  letter-spacing: 0.05em;
}
.intro-container #title-headline {
  margin: 5px 0 0 -2px;
  letter-spacing: 0.05em;
  color: #7F81A6;
}
.intro-container #tagline {
  line-height: 1.5em;
  margin-top: 15px;
  text-align: left;
  color: whitesmoke;
  margin-bottom: 50px;
}

.div-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 30px;
  border: 16px;
  border-top: 3px solid #64FFDA;
  width: 100vw;
  margin-top: 20px;
  color: rgb(205, 203, 203);
}
.div-2 .skills-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.div-2 .skills-icons section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: px;
  padding: 10px;
}
.div-2 .skills-icons section p {
  text-align: center;
  margin-bottom: 30px;
  color: #1b3a4b;
  font-size: 14px;
  width: 120px;
}
.div-2 .skills-icons img {
  padding: 10px;
  margin-bottom: 10px;
  justify-content: center;
  width: 80px;
}

h3 {
  margin-top: 20px;
  color: #006466;
  margin-bottom: 30px;
}

.pic-shell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pic-shell img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
}

#check-me-out {
  text-align: center;
  max-width: 450px;
}
#check-me-out p {
  color: #1b3a4b;
}

#special-interests {
  padding-top: 25px;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-direction: column;
}
#special-interests h2 {
  color: #006466;
  text-decoration: underline;
  padding-top: 25px;
  padding-bottom: 30px;
}
#special-interests div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 12px;
  background-color: #006466;
  height: 30px;
}
#special-interests div div {
  margin-bottom: 12px;
}
#special-interests div h5 {
  margin-left: 5px;
  width: 80px;
}
#special-interests #inner-div1 {
  background: linear-gradient(0.25turn, #006466, 40%, #4D194D);
  width: 250px;
  -webkit-animation: grow 5s ease;
          animation: grow 5s ease;
}
#special-interests #inner-div2 {
  background: linear-gradient(0.25turn, #006466, 40%, #4D194D);
  width: 270px;
  -webkit-animation: grow 5s linear;
          animation: grow 5s linear;
}
#special-interests #inner-div3 {
  background: linear-gradient(0.25turn, #006466, 40%, #4D194D);
  width: 190px;
  -webkit-animation: grow 5s;
          animation: grow 5s;
}
@-webkit-keyframes grow {
  0% {
    width: 100%;
  }
}
@keyframes grow {
  0% {
    width: 100%;
  }
}

footer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: auto;
}
footer p {
  font-size: 10px;
  padding-top: 34px;
  color: whitesmoke;
}
footer .social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 15px 0px 15px;
}
footer .social-links a {
  font-size: 16px;
  color: #64FFDA;
  margin: 15px;
}

@media screen and (min-width: 500px) {
  footer p {
    font-size: 12px;
  }
  footer .social-links a {
    font-size: 20px;
  }
}
@media screen and (min-width: 1000px) {
  footer p {
    font-size: 14px;
  }
  footer .social-links a {
    font-size: 24px;
  }
}
.green-text-bg-none {
  font-size: 14px;
  font-weight: 300;
  border-radius: 12px;
  background: none;
  border-color: #64FFDA;
  border-width: 1px;
  color: #64FFDA;
  padding: 15px 20px;
  letter-spacing: 0.1em;
}

.green-text-bg-none {
  font-size: 14px;
  font-weight: 300;
  border-radius: 12px;
  background: none;
  border-color: #64FFDA;
  border-width: 1px;
  color: #64FFDA;
  padding: 15px 20px;
  letter-spacing: 0.1em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* hide scrollbar but allow scrolling */
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  background-color: azure;
}
.container img {
  height: 100%;
  width: 100%;
}
.container .box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 200px;
  background-color: aquamarine;
  position: relative;
}

.container .box .imgbox {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 4rem;
}

.container .box:hover .imgbox {
  transform: translate(-3.5rem, -3.5rem);
  transition: 0.5s ease-in-out;
}

.container .box:hover .content {
  transform: translate(-3.5rem, -3.5rem);
  transition: 0.5s ease-in-out;
}

.imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.imgBox {
  width: 30rem;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  resize: both;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  background-color: #fff;
  z-index: 1;
  align-items: flex-end;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.content h3 {
  display: block;
  font-size: 2rem;
  color: #111;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 1px;
}

.content article {
  color: #555;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 2px;
}

@media (max-width: 600px) {
  .container .box:hover .content {
    transform: translate(0, 3.5rem);
  }
  .container .box:hover .imgBox {
    transform: translate(0, -3.5rem);
  }
}
body {
  background-color: #212f45;
  min-height: 100%;
  font-family: "Rubik", Roboto;
  display: flex;
  flex-direction: column;
}
body header {
  padding-top: 10px;
  padding-bottom: 50px;
}
body main {
  height: 100%;
}
body footer {
  height: 10vh;
  width: 100vw;
  margin: 20px;
}/*# sourceMappingURL=main.css.map */