* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* hide scrollbar but allow scrolling */
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.header-shell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
}

.desktop-menu {
  visibility: hidden;
  position: absolute;
}

.image-box {
  margin-left: 10px;
}
.image-box #mike-logo {
  width: 50px;
}

@media screen and (min-width: 500px) {
  .image-box {
    width: 75px;
    transition: 0.3s ease;
  }
  .image-box #mike-logo {
    width: 70px;
  }
}
@media screen and (min-width: 1000px) {
  .image-box {
    width: 75px;
    transition: 0.3s ease;
  }
  .image-box #mike-logo {
    width: 90px;
  }
  #hamburger-menu {
    visibility: hidden;
    padding: 0;
    margin: 0;
  }
  .menu-shell {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .image-box #logo-svg {
    transition: 0.3s ease;
    width: 100px;
  }
  .desktop-menu {
    visibility: visible;
    position: relative;
    right: 0;
    display: flex;
    align-items: flex-end;
  }
  .desktop-menu li {
    display: inline-block;
    padding: 0px 36px;
  }
  .desktop-menu a {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.1s ease 0.1s;
    color: #64FFDA;
  }
  .desktop-menu a:hover {
    color: whitesmoke;
  }
}
#hamburger-menu {
  margin-right: 20px;
  background-color: #212f45;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  border: none;
  align-self: right;
}
#hamburger-menu svg {
  width: 40px;
  height: 40px;
}
#hamburger-menu svg line {
  stroke: #64FFDA;
}

@media screen and (min-width: 500px) {
  #hamburger-menu svg {
    width: 45px;
    height: 45px;
  }
  #hamburger-menu svg line {
    stroke: #64FFDA;
  }
}
#button-check {
  visibility: hidden;
  position: absolute;
}

.menu {
  color: white;
  visibility: hidden;
  position: fixed;
  top: 0;
  height: 100vh;
  margin: 0;
  padding: 20px 20px;
  background-color: #065a60;
  opacity: 98%;
  width: 180px;
  z-index: 1;
}
.menu h2 {
  padding-top: 30px;
}
.menu input[type=checkbox] {
  visibility: hidden;
}
.menu a {
  text-decoration: none;
  color: darkgray;
}
.menu li {
  list-style-type: none;
  padding-top: 18px;
  font-size: 20px;
}
.menu i {
  color: #64FFDA;
  font-size: 50px;
}

input[type=checkbox]:checked ~ .sidebar-menu .menu {
  visibility: visible;
  right: 0;
}

main h1 {
  font-size: 36px;
  font-weight: bolder;
  color: whitesmoke;
  margin: 0;
  line-height: 1.1em;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 20px;
  padding-bottom: 20px;
}
.intro-container p {
  color: #64FFDA;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.intro-container #name-headline {
  margin: 5px 0 0 -2px;
  margin-top: 15px;
  font-weight: bolder;
  letter-spacing: 0.05em;
}
.intro-container #title-headline {
  margin: 5px 0 0 -2px;
  letter-spacing: 0.05em;
  color: #7F81A6;
}
.intro-container #tagline {
  line-height: 1.5em;
  margin-top: 15px;
  text-align: left;
  color: whitesmoke;
  margin-bottom: 50px;
}

.div-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 30px;
  border: 16px;
  border-top: 3px solid #64FFDA;
  width: 100vw;
  margin-top: 20px;
  color: rgb(205, 203, 203);
}
.div-2 h3 {
  margin-top: 20px;
  color: #006466;
  margin-bottom: 30px;
  text-align: center;
}
.div-2 .skills-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: space-around;
}
.div-2 .skills-icons #react-python, .div-2 .skills-icons #node-mongo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}
.div-2 .skills-icons section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 10px;
}
.div-2 .skills-icons section h5 {
  color: #1b3a4b;
}
.div-2 .skills-icons section p {
  text-align: center;
  margin-bottom: 30px;
  color: #1b3a4b;
  font-size: 14px;
  width: 150px;
}
@media screen and (max-width: 620px) {
  .div-2 .skills-icons {
    flex-direction: column;
  }
  .div-2 .skills-icons #react-python, .div-2 .skills-icons #node-mongo {
    width: 100vw;
  }
}

img {
  padding: 10px;
  margin-bottom: 10px;
  justify-content: center;
  width: 90px;
}

#my-focus-and-check-me-out {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 700px) {
  #my-focus-and-check-me-out {
    flex-direction: row;
  }
}

#who-am-i {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0 40px 0;
}
#who-am-i .pic-shell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#who-am-i .pic-shell img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  transition: 0.5s ease;
}
@media screen and (min-width: 620px) {
  #who-am-i .pic-shell img {
    width: 300px;
    height: 300px;
    transition: 0.5s ease;
  }
}
#who-am-i #check-me-out {
  text-align: center;
  max-width: 450px;
}
#who-am-i #check-me-out p {
  color: #1b3a4b;
}

#special-interests {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  padding-bottom: 40px;
}
#special-interests h3 {
  color: #006466;
  text-decoration: underline;
  padding-bottom: 30px;
}
#special-interests #list-and-bargraph {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 90vw;
  justify-content: space-around;
}
#special-interests #list-and-bargraph #specialties-list {
  color: whitesmoke;
  line-height: 1.3em;
  color: #1b3a4b;
  padding: 0 10px 40px 20px;
}
#special-interests #list-and-bargraph #bargraphs {
  display: grid;
  row-gap: 10px;
  margin-right: 0px;
}
#special-interests #list-and-bargraph #bargraphs h5 {
  margin-left: 5px;
}
#special-interests #list-and-bargraph #bargraphs .inner-divs {
  background: linear-gradient(0.25turn, #006466, 40%, #4D194D);
  -webkit-animation: grow 5s ease;
          animation: grow 5s ease;
}
#special-interests #list-and-bargraph #bargraphs #html {
  width: 360px;
}
#special-interests #list-and-bargraph #bargraphs #cyber {
  width: 350px;
}
#special-interests #list-and-bargraph #bargraphs #java {
  width: 300px;
}
#special-interests #list-and-bargraph #bargraphs #sql {
  width: 220px;
}
#special-interests #list-and-bargraph #bargraphs #flask {
  width: 200px;
}
@-webkit-keyframes grow {
  0% {
    transform: scaleX(-1);
  }
}
@keyframes grow {
  0% {
    transform: scaleX(-1);
  }
}
@media screen and (max-width: 650px) {
  #special-interests .skills-icons {
    flex-direction: column;
  }
  #special-interests #list-and-bargraph {
    flex-direction: column;
    justify-content: space-around;
  }
  #special-interests #list-and-bargraph #specialties-list {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1000px) {
  #special-interests #list-and-bargraph {
    max-width: 800px;
  }
}

@media screen and (max-width: 620px) {
  #my-focus {
    flex-direction: column;
  }
}
footer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin-top: auto;
}
footer p {
  font-size: 10px;
  padding-top: 34px;
  color: whitesmoke;
}
footer .social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
}
footer .social-links a {
  font-size: 16px;
  color: #64FFDA;
  margin: 15px;
}

@media screen and (min-width: 500px) {
  footer p {
    font-size: 12px;
  }
  footer .social-links a {
    font-size: 20px;
  }
}
@media screen and (min-width: 1000px) {
  footer p {
    font-size: 14px;
  }
  footer .social-links a {
    font-size: 24px;
  }
}
.green-text-bg-none {
  font-size: 14px;
  font-weight: 300;
  border-radius: 12px;
  background: none;
  border-color: #64FFDA;
  border-width: 1px;
  color: #64FFDA;
  padding: 15px 20px;
  letter-spacing: 0.1em;
}

.green-text-bg-none:hover {
  background: linear-gradient(0.25turn, #006466, 40%, #4D194D);
}

.project-button {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 0.1em;
  padding: 5px 10px 5px 10px;
  background: none;
  border: 1px solid #64FFDA;
  border-radius: 6px;
  color: #64FFDA;
}

.gallery-shell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gallery-shell :nth-child(odd) .overlay {
  background-color: #006466;
}

.container {
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  border: 0;
  padding: 0;
  width: 400px;
  height: 200px;
}

.image {
  padding: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1b3a4b;
  opacity: 90%;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.container:hover .overlay {
  display: flex;
  height: 100%;
}

.container .overlay.show {
  height: 100%;
}

.text {
  color: whitesmoke;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h4 {
  margin-bottom: 0;
  color: whitesmoke;
}

h6 {
  color: rgb(228, 71, 71);
  margin-bottom: 20px;
  font-weight: 100;
}

.div-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.post-click {
  border: none;
  background-color: whitesmoke;
  padding: 30px;
}

.blog-snippet-shell {
  color: #006466;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 40px;
  background-color: rgba(47, 120, 67, 0.211);
  padding: 10px;
  border-radius: 30px;
  max-width: 370px;
  height: 470px;
}
.blog-snippet-shell img {
  width: 340px;
  height: 200px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 10px;
}
.blog-snippet-shell h2 {
  margin-top: 15px;
  margin-bottom: 10px;
}
.blog-snippet-shell .date h5 {
  padding-bottom: 10px;
  border-bottom: 4px solid #64FFDA;
}
.blog-snippet-shell p {
  text-align: center;
  margin-top: 20px;
  color: #1b3a4b;
  font-size: 14px;
  width: 350px;
  letter-spacing: 0.05em;
}

.read-more {
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #144552;
  color: whitesmoke;
  border-radius: 10px;
  margin: 20px 0 15px 0;
}

.read-more:hover {
  color: #006466;
  background-color: #64FFDA;
}

.intro-container {
  margin-bottom: 60px;
}

.main-content-shell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#form-shell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  color: #1b3a4b;
  padding: 20px;
  border: 2px solid #64FFDA;
  border-radius: 35px;
  width: 90vw;
}
form #name-email-message-shell {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
form #email-label, form #name-label, form #message-label {
  padding-right: 15px;
  margin-bottom: 10px;
}
form #email-input, form #name-input {
  margin-bottom: 10px;
  height: 22px;
}
form #message-input {
  height: 100px;
}
form input[type=text], form input[type=email], form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  font-style: italic;
  font-family: rubik;
  font-size: 14px;
}
form button {
  width: 90px;
  padding: 10px;
  margin: 20px 0 10px 30px;
  align-self: flex-end;
  border-radius: 10px;
  background-color: #006466;
  color: whitesmoke;
  border-color: #006466;
}
form button:hover {
  background-color: #212f45;
}

@media screen and (min-width: 500px) {
  form {
    width: 490px;
  }
}
.resume-btn-shell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.resume-btn-shell img {
  width: 200px;
  border-radius: 25px;
  margin: 20px;
}
.resume-btn-shell p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 70vw;
  color: whitesmoke;
  line-height: 1.5em;
}

@media screen and (min-width: 1000px) {
  .main-content-shell {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
  }
  .main-content-shell p {
    width: 70%;
  }
}
.text-one {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-one p {
  color: #7F81A6;
  width: 300px;
}

.img-div {
  margin: 20px 0 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-div img {
  border-radius: 25px;
  width: 300px;
  height: auto;
}

#white-div {
  background-color: whitesmoke;
  justify-content: center;
  padding-bottom: 30px;
}
#white-div .text-two, #white-div .text-three, #white-div #lists {
  color: #1b3a4b;
  width: 300px;
}
#white-div .text-two p, #white-div .text-three p, #white-div #lists p {
  padding-top: 30px;
  width: 300px;
}

.cta {
  padding: 30px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 620px) {
  .intro-container {
    padding-left: 70px;
    transition: 0.5s ease;
  }
  .about-me-content {
    font-size: 18px;
  }
  .above-line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }
  .above-line p {
    width: 80%;
  }
  .above-line img {
    width: 270px;
    transition: 0.5s ease;
    margin-right: 20px;
  }
  #white-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1000px) {
  .above-line {
    line-height: 1.3em;
    font-size: 18px;
  }
  .img-div {
    padding: 0 25px 25px 0;
  }
  .img-div img {
    width: 400px;
  }
  .div-2 .text-two, .div-2 .text-three {
    line-height: 1.3em;
    font-size: 18px;
    width: 400px;
  }
  .div-2 .text-two p, .div-2 .text-three p {
    width: 100%;
  }
}
.blog-title {
  color: #1b3a4b;
}
.blog-title .page-heading {
  color: #006466;
  font-size: 25px;
  margin-bottom: 10px;
  line-height: 1.1em;
}
.blog-title .divider {
  width: 250px;
  height: 5px;
  background-color: #64FFDA;
  margin-top: 20px;
  margin-bottom: 20px;
}

.paragraphs {
  color: #1b3a4b;
  display: flex;
  flex-direction: column;
}
.paragraphs h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.paragraphs p {
  padding: 20px;
  margin-bottom: 15px;
}
.paragraphs ol {
  margin-left: 40px;
  margin-bottom: 15px;
}
.paragraphs .secondary-img {
  margin-bottom: 20px;
  width: 100vw;
}
.paragraphs .main-img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100vw;
}
@media screen and (min-width: 600px) {
  .paragraphs .paragraphs p {
    width: 90%;
  }
  .paragraphs .main-img {
    width: 600px;
  }
  .paragraphs .secondary-img {
    width: 600px;
  }
}

body {
  background-color: #212f45;
  min-height: 100%;
  font-family: "Rubik", Roboto;
  display: flex;
  flex-direction: column;
  line-height: 1.3em;
}
body header {
  padding-top: 10px;
  padding-bottom: 50px;
}
body main {
  min-height: 75vh;
}
body footer {
  height: 10vh;
  width: 100vw;
}/*# sourceMappingURL=main.css.map */