.div-2 {
  @include flex-center;
  flex-wrap: wrap;  
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;

}
// button wrapped in a href which links to the specific blog post on its own page
.post-click {
  border: none;
  background-color: $site-white;
  padding: 30px;
}


.blog-snippet-shell {
  color: $skobeloff;
  @include flex-center;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 40px;
  background-color:  rgba(47, 120, 67, 0.211);
  padding: 10px;
  border-radius: 30px;
  max-width: 370px;
  height: 470px;

  img {
    width: 340px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    margin-top: 10px;
  }
  
  h2 {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .date h5{
    padding-bottom: 10px;
    border-bottom: 4px solid $electric-green;
  }

  p {
    text-align: center;
    margin-top: 20px;
    color: $charcoal;
    font-size: 14px;
    width: 350px;
    letter-spacing: .05em;
  }
}

.read-more {
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  background-color: $midnight-green-eagle-green-3;
  color: $site-white;
  border-radius: 10px;
  margin: 20px 0 15px 0;
}

.read-more:hover {
  color: $skobeloff;
  background-color: $electric-green;
}

