// custom hamburger menu contruction start 
// mobile screen styling settings
#hamburger-menu {
  margin-right: 20px;
  background-color: $prussian-blue;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  border: none;
  align-self: right;

  svg {
    width: 40px;
    height: 40px;
    line {
      stroke: $electric-green;
  
    }
  }
}
  
// media screen setting for tablets starts here

@media screen and (min-width: 500px) {
  #hamburger-menu {
    svg {
    width: 45px;
    height: 45px;
    line {
      stroke: $electric-green;
  
      }
    }
  }
}

// set the checkbox to hidden //
#button-check {
  visibility: hidden;
  position: absolute;
}
// custom hamburger menu contruction finish //