
// holds the header items in flexbox //
.header-shell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
}

// hide the desktop menu
.desktop-menu {
  visibility: hidden;
  position: absolute;
}

.image-box {
  padding: 15px 0 20px 10px;
  margin-left: 10px;

  #logo-svg {
    width: 55px;
    transition: 0.3s ease;
  }
  #outer-stroke {
    stroke: $electric-green;
  }

  #mike {
    fill: $site-white;
  }

  #code-sign {
    fill: $electric-green;
  }

  #V {
    fill: $site-white
  }

}

 



// // media screen setting start here for desktop

@media screen and (min-width: 1000px) {
  
  // custom hamburger menu contruction start // 
  #hamburger-menu {
  visibility: hidden;
  padding: 0;
  margin: 0;
  }
// box holding all menus
  .menu-shell {
    display: flex;
    width:100%;
    justify-content: flex-end;
  }

  .image-box #logo-svg {
    transition: 0.3s ease;
    width: 100px;
  }
  
  .desktop-menu { 
    visibility: visible;
    position: relative;
    right: 0;
    display: flex;
    align-items: flex-end;
  }  

  li {
    display: inline-block;
    padding: 0px 36px;
  }

  a {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease 0.3s;    
    color: $electric-green;
  }

  a:hover {
    color: whitesmoke;
  }
}




