.header-shell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
}

// hide the desktop menu
.desktop-menu {
  visibility: hidden;
  position: absolute;
}

.image-box {
  margin-left: 10px;

  #mike-logo {
    width: 100px;
  }
}

// media screen for tablet starts here
@media screen and(min-width: 500px) {
  .image-box {
    width: 75px;
    transition: 0.3s ease ;
    
    #mike-logo {
      width: 120px;
    }
  }
}

// // media screen setting start here for desktop
@media screen and (min-width: 1000px) {
  .image-box {
    width: 75px;
    transition: 0.3s ease ;
    
    #mike-logo {
      width: 140px;
    }
  }

// hide the burger icon
  #hamburger-menu {
  visibility: hidden;
  padding: 0;
  margin: 0;
  }
// box holding all menus
  .menu-shell {
    display: flex;
    width:100%;
    justify-content: flex-end;
  }

  .image-box #logo-svg {
    transition: 0.3s ease;
    width: 100px;
  }
  
  .desktop-menu { 
    visibility: visible;
    position: relative;
    right: 0;
    display: flex;
    align-items: flex-end;

    li {
      display: inline-block;
      padding: 0px 36px;
    }
  
    a {
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      transition: all 0.1s ease 0.1s;    
      color: $electric-green;
    }
  
    a:hover {
      color: whitesmoke;
    }
  }  

}




