@import './buttons';

// intro container styling
main h1 {
  font-size: 36px;
  font-weight: bolder;
  color: whitesmoke;
  margin: 0;
  line-height: 1.1em;
}

.intro-container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: left;
  padding-left: 20px;
  padding-bottom: 20px;
  
  p {
    color: $electric-green;
    font-size: 14px;
    letter-spacing: 0.1em;
  }
  
  #name-headline {
    margin: 5px 0 0 -2px;
    margin-top: 15px;
    font-weight: bolder;
    letter-spacing: 0.05em;
  }
  
  #title-headline {
    margin: 5px 0 0 -2px;
    // font-weight: bolder;
    letter-spacing: 0.05em;
    color: $pale-purle;
  }
  
  #tagline {
    line-height: 1.5em;
    margin-top: 15px;
    text-align: left;
    color: whitesmoke;
    margin-bottom: 50px;
  }
  
}

.div-2 {

  @include flex-center();
  flex-direction: column;
  background-color: $site-white;
  padding: 30px;
  // margin-bottom: 2px;
  border: 16px;
  border-top: 3px solid $electric-green;
  width: 100vw;
  margin-top: 20px;
  color: rgb(205, 203, 203);

  h3 {
    margin-top: 20px;
    color: $skobeloff;
    margin-bottom: 30px;
  }

  #my-focus {
    @include flex-center;
    flex-direction: column;

    .skills-icons {
      @include flex-center();
      flex-direction: row;
      // text-decoration: none;
      flex-wrap: wrap;
      justify-content: center;
  
      section {
        @include flex-center();
        flex-direction: column;
        justify-content: center;
        width: 50%;
        margin: px;
        padding: 10px;
  
        h5 {
          color: $charcoal;
        }
  
        p {
          text-align: center;
          margin-bottom: 30px;
          color: $charcoal;
          font-size: 14px;
          width: 150px;
        }
      }
  
      img {
        padding: 10px;
        margin-bottom: 10px;
        justify-content: center;
        width: 90px;
      }
    }

  }

}

#my-focus-and-check-me-out {
  @include flex-center;
  flex-direction: column;

  @media screen and (min-width: 700px) {
    flex-direction: row;
  }
}

#who-am-i {
  @include flex-center;
  flex-direction: column;
  margin: 20px 0 40px 0;
  
  .pic-shell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    img {
      width: 150px;
      height: 150px;
      border-radius: 15px;
    }
  }
  
  #check-me-out {
    text-align: center;
    max-width: 450px;

    p {
      color: $charcoal;
    }
  }
}

#special-interests {
  padding: 25px 25px 0 25px ;
  max-width: 360px;

  @include flex-center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;    
  
  h2 {
    color: $skobeloff;
    text-decoration: underline;
    padding-top: 25px;
    padding-bottom: 30px;
  }

  #list-and-bargraph {
    @include flex-center;
    flex-direction: row;
    width: 90vw;
    justify-content: space-between;

    #specialties-list {
      line-height: 1.3em;
      color: $charcoal;
      padding: 0 10px 40px 20px;
    }
    
  
    #bargraphs {
      display: grid;
      row-gap: 10px;
      margin-right: 0px;
      
      h5 {
        margin-left: 5px;
      }
      
      .inner-divs {
        background: linear-gradient(.25turn, $skobeloff, 40%, $purple-light);
        animation: grow 5s ease;
      }
  
      #html {
        width: 360px;
      }
      #cyber {
        width: 350px;
      }
      #java {
        width: 300px;
      }
      #sql {
        width: 220px;
      }
      #flask {
        width: 200px;
      }
    }
  
    @keyframes grow {
      0% {
        transform: scaleX(-1);
      }
    }
  }
  
  @media screen and (max-width: 650px) {
    #list-and-bargraph {
      flex-direction: column;
      justify-content: space-around;

      #specialties-list {
        margin-bottom: 20px;
      }
    }
  }

  @media screen and (min-width: 1000px) {
    #list-and-bargraph {
      max-width: 800px;

    }
  }
}


