
// white section of the page
.div-2 {
  padding: 20px;
// override the media screen settings inherited from nav bar lists. 
  @media screen and (min-height: 999px) {
  //   ol > li , ul{
  //     display: list-item;
  // }
  // ul , ul > li{
  //   display: list-item;
  //   color: black;
  // }

  a {
    color: $skobeloff;
  }
  }
}
// title and date section
.blog-title {
  color: $charcoal;

  .page-heading {
    color: $skobeloff;
    font-size: 25px;
    margin-bottom: 10px;
    line-height: 1.1em;
  }

  .divider {
    width: 250px;
    height: 5px;
    background-color: $electric-green;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

// main content paragraphs and lists
.paragraphs {
  color: $charcoal;
  @include flex-center;
  flex-direction: column;

// section headers
  h2 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  // overall paragraph, ordered list settings
  p {
    padding: 10px;
    margin-bottom: 15px;
  }

  ol {
    margin-left: 20px;
    margin-bottom: 15px;
  }


// image sizes for mobile screen 
  .secondary-img {
    margin-bottom: 20px;
    width: 100vw;
  }

  .main-img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100vw;
  }

// increasing the image sizes for bigger screens
@media screen and (min-width: 600px) {
  .paragraphs p {
    width: 90%;
  }

  .main-img {
    width: 600px;
  }

  .secondary-img {
    width: 600px;
  }
}
}




