
// white section of the page

// title and date section
.blog-title {
  color: $charcoal;

  .page-heading {
    color: $skobeloff;
    font-size: 25px;
    margin-bottom: 10px;
    line-height: 1.1em;
  }

  .divider {
    width: 250px;
    height: 5px;
    background-color: $electric-green;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
// main content paragraphs and lists
.paragraphs {
  color: $charcoal;
  display: flex;
  flex-direction: column;

// section headers
  h2 {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  // overall paragraph, ordered list settings
  p {
    padding: 20px;
    margin-bottom: 15px;
  }

  ol {
    margin-left: 40px;
    margin-bottom: 15px;
  }

// image sizes for mobile screen 
  .secondary-img {
    margin-bottom: 20px;
    width: 100vw;
  }

  .main-img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100vw;
  }

// increasing the image sizes for bigger screens
@media screen and (min-width: 600px) {
  .paragraphs p {
    width: 90%;
  }

  .main-img {
    width: 600px;
  }

  .secondary-img {
    width: 600px;
  }
}
}




