@import './buttons';
@import '../default/default';


.gallery-shell {
  @include flex-center;
  flex-wrap: wrap;
}


.gallery-shell :nth-child(odd) .overlay{
  background-color: $skobeloff;
  :nth-child(3) .overlay {
    background-color: aliceblue;
  }
}

.container {
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  border: 0;
  padding: 0;
  width: 400px;
  height: 205px;
  object-fit: cover;
}

.image {
  // display: block;
  width: 400px;
  height: 100%;
  object-fit: cover; // setting to keep the picture size relative so it doesn't "stretch" to fit a container (it kind zooms instead) 
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $charcoal;
  opacity: 90%;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  display: flex;
  height: 100%;
}


.container .overlay.show{
  height:100%;
}

.text {
  color: $site-white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h4 {
  margin-bottom: 0;
  color: $site-white;
}

h6 {
  color: rgb(228, 71, 71);
  margin-bottom: 20px;
  font-weight: 100;
}

// button {
//   font-size: 20px;
//   @include green-text-bg-none;
// }

