$skobeloff: #006466ff;
$midnight-green-eagle-green: #065a60ff;
$midnight-green-eagle-green-2: #0b525bff;
$midnight-green-eagle-green-3: #144552ff;
$charcoal: #1b3a4bff;
$prussian-blue: #212f45ff;
$space-cadet: #272640ff;
$electric-green: #64FFDA;
$site-white: whitesmoke;